@page
@model MyQuranWeb.Pages.Quran.ListBookmarkModel
@{
    ViewData["Title"] = "Daftar Bookmark Ayat";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div id="error" class="alert alert-danger">
        <span>@Model.ErrorMessage</span>
    </div>
    return;
}

<script src="~/js/ayah.js"></script>
<div class="card">
    <div class="card-header text-center">
        <p class="h2">Daftar Bookmark</p>
    </div>
    <div class="card-body">
        <form method="get">
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <input type="search" class="form-control form-control-sm" asp-for="Search" placeholder="Cari bookmark"
                           aria-label="Masukkan kata kunci"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="submit" id="btnSearch" title="Cari bookmark"><i class="fa fa-search"></i></button>
                        <button class="btn btn-outline-dark" type="button" id="btnReset" title="Reset pencarian"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class='nav-item'>
                <a class='nav-link active' data-toggle='tab' href='#tpQuran'>Al-Qur'an'</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link ' data-toggle='tab' href='#tpHadith'>Hadis</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tpPray">Doa</a>
            </li> *@
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class='tab-pane container fade in show active' id='tpQuran'>
                <div class="row">
                    <table class="table table-sm table-striped table-hover table-borderless">
                        <tr>
                            <th>Bookmark</th>
                            <th class="text-center">Buka</th>
                            <th class="text-center">Hapus</th>
                        </tr>
                        @for (int i = 0; i < Model.Bookmarks.Count; i++)
                        {
                            if (Model.Bookmarks[i].Type == 1)
                            {
                                <tr>
                                    <td>@Model.Bookmarks[i].Description</td>
                                    <td class="text-center">
                                        <a class="text-decoration-none text-dark" href="~/Quran/SurahDetail/@Model.Bookmarks[i].Ayah.SurahId/@Model.Bookmarks[i].Ayah.AyahId" target="_blank">Surat</a> /
                                        <a class="text-decoration-none text-dark" href="~/Quran/JuzDetail/@Model.Bookmarks[i].Ayah.JuzDetail.JuzId/@Model.Bookmarks[i].Ayah.Id" target="_blank">Juz</a>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm" title="Hapus Bookmark" onclick='deleteBookmark("@Model.Bookmarks[i].Ayah.Id","@Model.Bookmarks[i].Description","/Quran/ListBookmark")'><i class="fa fa-trash fa-lg"></i></button>
                                    </td>
                                </tr>
                            }
                            else if (Model.Bookmarks[i].Type == 3)
                            {
                                <tr>
                                    <th colspan="3">Terakhir Dibaca</th>
                                </tr>
                                <tr>
                                    <td>@Model.Bookmarks[i].Description</td>
                                    <td class="text-center">
                                        <a class="text-decoration-none text-dark" href="~/Quran/SurahDetail/@Model.Bookmarks[i].Ayah.SurahId/@Model.Bookmarks[i].Ayah.AyahId" target="_blank">Surat</a> /
                                        <a class="text-decoration-none text-dark" href="~/Quran/JuzDetail/@Model.Bookmarks[i].Ayah.JuzDetail.JuzId/@Model.Bookmarks[i].Ayah.Id" target="_blank">Juz</a>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm" title="Hapus Bookmark" onclick='deleteBookmark("@Model.Bookmarks[i].Ayah.Id","@Model.Bookmarks[i].Description","/Quran/ListBookmark")'><i class="fa fa-trash fa-lg"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class='tab-pane container fade' id='tpHadith'>
                <div class="row">
                    <table class="table table-sm table-striped table-hover table-borderless">
                        <tr>
                            <th>Bookmark</th>
                            <th class="text-center">Link</th>
                            <th class="text-center">Hapus</th>
                        </tr>
                        @for (int i = 0; i < Model.Bookmarks.Count; i++)
                        {
                            string url = "";
                            if (Model.Bookmarks[i].Type == 2)
                            {
                                <tr>
                                    <td>@Model.Bookmarks[i].Description</td>
                                    <td class="text-center">
                                        @if(Model.Bookmarks[i].Hadith.Name.Contains("arbain"))
                                        {
                                            url = $"Hadith/HadithArbainDetail/{Model.Bookmarks[i].Hadith.Number}";
                                        }
                                        else if(Model.Bookmarks[i].Hadith.Name.Contains("_bm"))
                                        {
                                            url = $"Hadith/HadithBMDetail/{Model.Bookmarks[i].Hadith.Page}/{Model.Bookmarks[i].Hadith.Number}";
                                        }
                                        else if (Model.Bookmarks[i].Hadith.Name.Contains("_perawi"))
                                        {
                                            url = $"Hadith/HadithDetail/{Model.Bookmarks[i].Hadith.Slug}/{Model.Bookmarks[i].Hadith.Page}/{Model.Bookmarks[i].Hadith.Number}";
                                        }
                                        <a class="text-decoration-none text-dark" href="~/@url" target="_blank">Buka</a>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm" title="Hapus Bookmark" onclick='deleteBookmark("@Model.Bookmarks[i].Hadith.Name","@Model.Bookmarks[i].Description","/Quran/ListBookmark")'><i class="fa fa-trash fa-lg"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            @* <div class="tab-pane container fade" id="tpPray">
                <div class="row">
                    <table class="table table-sm table-striped table-hover table-borderless">
                        <tr>
                            <th>Bookmark</th>
                            <th class="text-center">Link</th>
                            <th class="text-center">Hapus</th>
                        </tr>
                        @for (int i = 0; i < Model.Bookmarks.Count; i++)
                        {
                            string url = "";
                            if (Model.Bookmarks[i].Type == 4)
                            {
                                <tr>
                                    <td>@Model.Bookmarks[i].Description</td>
                                    <td class="text-center">
                                        @{
                                            url = $"Pray/PrayDetail/{Model.Bookmarks[i].Pray.ParentId}/{Model.Bookmarks[i].Pray.PrayId}";
                                        }
                                        <a class="text-decoration-none text-dark" href="~/@url" target="_blank">Buka</a>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm" title="Hapus Bookmark" onclick='deleteBookmark("@Model.Bookmarks[i].Pray.Name","@Model.Bookmarks[i].Description","/Quran/ListBookmark")'><i class="fa fa-trash fa-lg"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div> *@
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#btnReset").click(function () {
            location.href = location.origin + "/Quran/ListBookmark";
        });
    });
</script>