@page "{id:int?}/{TafsirID?}"
@model MyQuranWeb.Pages.Quran.TafsirDetailNewModel
@{
    ViewData["Title"] = $"Tafsir Q.S. {Model.ID}. {(Model.Surah != null ? Model.Surah.NameLatin : "")}";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div id="error" class="alert alert-danger text-danger">
        <span>@Model.ErrorMessage</span>
    </div>
}
else
{
    <div class="form-group form-row ">
        <div class="col-12 text-right">
            <partial name="_Navigation" model="Model.Navigation" />
        </div>
    </div>
    <div class="form-group form-row">
        <label class="col-lg-9 col-md-7 col-sm-7 col-4 text-right font-weight-bold" for="@Model.ID">Pilih :</label>
        <div class="col-lg-2 col-md-3 col-sm-3 col-5">
            <select asp-for="@Model.ID" asp-items="Model.SurahList" class="form-control form-control-sm searchList" id="searchSurahID">
            </select>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 col-3">
            <select asp-for="@Model.TafsirID" asp-items="Model.TafsirList" class="form-control form-control-sm searchList" id="searchAyahID">
            </select>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            @if (Model.Surah != null)
            {
                <p class="h2">@(Model.Surah != null ? Model.Surah.HeaderOnly : "")</p>
            }
        </div>
        <div class="card-body">
            @{
                string tafsir = "Kemenag";
                if (!string.IsNullOrWhiteSpace(Request.Cookies["tafsirSetting"])
                    && Request.Cookies["tafsirSetting"] == "1")
                {
                    tafsir = "Al-Jalalain";
                }
            }

            @for (int i = 0; i < Model.Tafsirs.Ayahs.Count; i++)
            {
                var alternateColor = "";
                @if (@Model.Tafsirs.Ayahs[i].Number.InSurah % 2 == 1) { alternateColor = "alert-secondary"; }
                <div class="form-group form-row text-dark @alternateColor" id="div_@Model.Tafsirs.Ayahs[i].Number.InSurah">
                    <div class="col-12 text-right" style="padding-bottom:0.5em;">
                        <div class="btn-group btn-group-sm mp3Player" role="group" aria-label="Button Group">
                            <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Salin Tafsir" id="@("btnCopy" + i)" onclick='copyTafsirBasedOnIndex("@i")' data-tafsir="@(tafsir == "Kemenag" ? Model.Tafsirs.Ayahs[i].Data.Kemenag : Model.Tafsirs.Ayahs[i].Data.AlJalalain)" data-title="@($"Tafsir {@tafsir} Q.S. {Model.Surah.Id}:{Model.Tafsirs.Ayahs[i].Number.InSurah}")"><i class="fa fa-clone"></i></button>
                            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#ayahModal" title="Munculkan Ayat" data-id="@Model.Tafsirs.Ayahs[i].Number.InQuran" data-title="@($"Q.S. {Model.Surah.Id}:{Model.Tafsirs.Ayahs[i].Number.InSurah}")">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Buka Sebagai Surat" id="@("btnOpen" + Model.Tafsirs.Ayahs[i].Number.InQuran)" onclick="openAyah('@Model.ID','@Model.Tafsirs.Ayahs[i].Number.InSurah', '@Model.AppSettingOption.WebSiteName')"><i class="fa fa-folder"></i></button>
                            @* <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Buka Sebagai Juz" id="@("btnOpenJuz" + Model.Tafsirs.Ayahs[i].Number.InQuran)" onclick="openJuz('@Model.Tafsirs.Ayahs[i].Ayah.JuzDetail.JuzId','@Model.Tafsirs.Ayahs[i].Id','@Model.AppSettingOption.WebSiteName')"><i class="fa fa-folder"></i></button> *@
                        </div>
                    </div>
                    <div class="col-12 text-justify">
                        <p class="small">@($"{Model.Tafsirs.Ayahs[i].Number.InSurah}. {(tafsir == "Kemenag" ? Model.Tafsirs.Ayahs[i].Data.Kemenag : Model.Tafsirs.Ayahs[i].Data.AlJalalain)}")</p>
                    </div>
                </div>
            }
            <partial name="_Navigation" model="Model.Navigation" />
        </div>
    </div>
    <partial name="_AyahModal" />
}
<script type="text/javascript">
    $(document).ready(function () {
        var websiteUrl = '@Model.AppSettingOption.WebSiteName';

        var ayahID = $("#searchAyahID").val();
        scrollToAyah(ayahID);

        $("#btnSearch").click(function () {
            let ayahID = $("#txtSearch").val();
            scrollToAyah(ayahID);
        });

        $('#txtSearch').on('keypress', function (e) {
            if (e.which === 13) {
                let ayahID = $("#txtSearch").val();
                scrollToAyah(ayahID);
            }
        });

        $('#ayahModal').on('show.bs.modal', function (event) {
            var websiteUrl = '@Model.AppSettingOption.WebSiteName';
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('id');
            //var readText = button.data('readtext'); // Extract info from data-* attributes
            //var readIndo = button.data('readindo'); // Extract info from data-* attributes
            //var readTranslateIndo = button.data('translateindo'); // Extract info from data-* attributes
            //var ayahID = button.data('ayahid'); // Extract info from data-* attributes
            //var surahID = button.data('surahid'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: websiteUrl + '/Quran/TafsirDetailNew?handler=Ayah&id=' + id,
                dataType: "json",
                success: function (data) {
                    var ayah = $.parseJSON(data);
                    var modal = $('#ayahModal');
                    modal.find('.modal-title').text(button.data('title'));
                    var rasmSetting = getCookie("rasmSetting");

                    if (rasmSetting == null || rasmSetting == 0) {
                        modal.find('.modal-body #ayahReadText').html(ayah.ReadText);
                    }
                    else {
                        modal.find('.modal-body #ayahReadText').html(ayah.ReadTextUthmani);
                    }
                    modal.find('.modal-body #ayahID').val(ayah.AyahId);
                    modal.find('.modal-body #surahID').val(ayah.SurahId);
                    modal.find('.modal-body #ayahReadIndo').html(ayah.ReadIndo);
                    modal.find('.modal-body #ayahTranslateIndo').html(ayah.TranslateIndo);
                },
                error: function (response) {
                    $.confirm({
                        title: 'Error',
                        content: response.responseText,
                        autoClose: 'ok|2000',
                        buttons: {
                            ok: {
                                text: 'OK',
                                action: function () {

                                }
                            }
                        }
                    });
                },
                failure: function (response) {
                    /*alert(response.responseText);*/
                    $.confirm({
                        title: 'Error',
                        content: response.responseText,
                        autoClose: 'ok|2000',
                        buttons: {
                            ok: {
                                text: 'OK',
                                action: function () {

                                }
                            }
                        }
                    });
                }
            });
        })

        $('#searchSurahID').on('change', function () {
            //ways to retrieve selected option and text outside handler
            //console.log('Changed option value ' + this.value);
            //console.log('Changed option text ' + $(this).find('option').filter(':selected').text());
            var origin = window.location.origin;
            window.location.replace(websiteUrl + "/Quran/TafsirDetailNew/" + $(this).val() + '/1');
            //alert(origin + "Quran/SurahDetail/" + this.value);
        });

        $('#searchAyahID').on('change', function () {
            var origin = window.location.origin;
            scrollToAyah($(this).val());
        });
    });
</script>

