@page "{SearchLocationID:?}/{Search:?}"
@model MyQuranWeb.Pages.PraySchedule.IndexModel
@{
    ViewData["Title"] = "Jadwal Sholat ";
}

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">*@

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div id="error" class="alert alert-danger text-danger">
        <span>@Model.ErrorMessage</span>
    </div>
}
<input id="baseURL" type="hidden" asp-for="@Model.AppSettingOption.BaseUrl"/>
<div class="card">
    <div class="card-header text-center">
        <p class="h2">Jadwal Sholat</p>
    </div>
    <div class="card-body">
        <form method="get">
            <input type="hidden" id="txtLocationID" asp-for="SearchLocationID" />
            
            <div class="offset-md-3 col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Kota</label>
                    <input asp-for="Search" type="search" id="txtSearch" class="form-control form-control-sm" placeholder="Cari daerah / Kota" />
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Tanggal</label>
                    <input asp-for="SearchDate" type="date" class="form-control form-control-sm" />
                </div>
                <div class="form-group text-right">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-dark" type="submit" id="btnSearch"><i class="fa fa-search"> Cari</i></button>
                        <button class="btn btn-outline-dark" type="button" id="btnReset"><i class="fa fa-remove"> Reset</i></button>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group text-right">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-dark" type="submit" id="btnSearch">Cari</button>
                        <button class="btn btn-outline-dark" type="button" id="btnReset">Reset</button>
                    </div>
                </div>
            </div>*@
            @*<div class="form-group form-row">
                <div class="col-md-6">
                    <label class="col-form-label col-form-label-sm">Kota</label>
                    <input asp-for="Search" type="search" class="form-control form-control-sm" placeholder="Cari daerah / Kota" />
                </div>
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Tanggal</label>
                    <input asp-for="SearchDate" type="date" class="form-control form-control-sm" />
                </div>
                <div class="col-md-2 align-bottom">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-dark" type="submit" id="btnSearch">Cari</button>
                        <button class="btn btn-outline-dark" type="button" id="btnReset">Reset</button>
                    </div>
                </div>
            </div>*@
        </form>
        @if (Model.APIPrayerResult != null)
        {
            if (Model.APIPrayerResult.Location != null)
            {
                if (Model.APIPrayerResult.Location.Schedule != null)
                {
                    <div class="form-group">
                        <div class="offset-md-3 col-md-6">
                            <table class="table table-borderless table-sm table-striped table-hover">
                                <tr>
                                    <td class="text-right" style="min-width:80px;">Tanggal :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.LongDate</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Wilayah :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.LocationName, @Model.APIPrayerResult.Location.LocationZone</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Imsak :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Imsak</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Subuh :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Subuh</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Terbit :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Terbit</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Dzuhur :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Dzuhur</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Ashar :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Ashar</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Maghrib :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Maghrib</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Isya :</td>
                                    <td><span class="font-weight-bold">@Model.APIPrayerResult.Location.Schedule.Isya</span></td>
                                </tr>
                                <tr>
                                    <td style="padding-top:1em;" colspan="2" class="text-center text-info font-italic small">Sumber Bimas Islam Kemenag via @Model.AppSettingOption.BaseUrl</td>
                                </tr>
                            </table>
                        </div>
                    </div>                    
                }
            }
        }
    </div>
</div>
<script>
    $(function () {
        //$("#txtSearch").change(function () {
        //    var search = $(this).val();
        //    alert(search);
        //});

        $("#btnReset").click(function () {
            window.location.href = window.location.origin + "/PraySchedule";
        });

        $("body").on('autocompleteselect', '#txtSearch', function (event, ui) {
            //alert(ui.item.locationID);
            $("#txtLocationID").val(ui.item.locationID);
        });

        var baseURL = $("#baseURL").val();
        searchLocation(baseURL);
        //searchLocation("https://api.myquran.com/v1");

        @*$("#btnSearch").click(function () {
            var search = $("#txtSearch").val();
            $.ajax({
                type: "GET",
                url: "https://api.myquran.com/v1/sholat/kota/cari/" + search,
                /*data: search,*/
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { Authorization: "Bearer " + "@Model.Token" },
                success: function (response) {
                    //alert(response.ERRORCODE + ": " + response.ERRORDESC);
                    var location = response;
                    if (location.status) {
                        alert("Success." + location.data[0].id);
                    }
                    else {
                        alert("Error: " + location.message)
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });*@
    });

    function searchLocation(baseUrl) {
        $("#txtSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: baseUrl + "/sholat/kota/cari/" + $("#txtSearch").val(),
                    /*data: "{'name':'" + $("#<%=txtFilterCustomer.ClientID%>").val() + "'}",*/
                    //data: city,
                    dataType: "json",
                    success: function (data) {
                        //response(data.d);
                        if (data.status) {
                            //alert(baseUrl + "sholat/kota/cari/" + $("#txtSearch").val());
                            //alert(JSON.stringify(data));
                            //response(data.data.d)
                            response($.map(data.data, function (item) {
                                return { label: item.lokasi, value: item.lokasi, locationID: item.id };
                            }))
                        } else {
                            //alert("Error: " + data.message)
                            $.confirm({
                                title: 'Error',
                                content: data.message,
                                autoClose: 'ok|2000',
                                buttons: {
                                    ok: {
                                        text: 'OK',
                                        action: function () {
                                            $("#txtLocationID").val('');
                                        }
                                    }
                                }
                            });
                        }
                    },
                    error: function (response) {
                        //alert(response.responseText);
                        //$.confirm({
                        //    title: 'Error',
                        //    content: response.responseText,
                        //    autoClose: 'ok|2000',
                        //    buttons: {
                        //        ok: {
                        //            text: 'OK',
                        //            action: function () {
                        //                $("#txtLocationID").val('');
                        //            }
                        //        }
                        //    }
                        //});
                    },
                    failure: function (response) {
                        /*alert(response.responseText);*/
                        $.confirm({
                            title: 'Error',
                            content: response.responseText,
                            autoClose: 'ok|2000',
                            buttons: {
                                ok: {
                                    text: 'OK',
                                    action: function () {
                                        $("#txtLocationID").val('');
                                    }
                                }
                            }
                        });
                    }
                });
            }
        });
    }
</script>